body {
    background: #232531;
    font-family: "Roboto Mono", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
    line-height: 1.7;
    font-weight: 300;

    color: white;
}

a, a:visited, a:active {
    color: white;
    text-decoration: none;
}



/* HEADER */
.header_wraper {
    width: 70%;
    margin: auto;

    display: flex;
    flex-direction: row;
    align-items: initial;
    justify-content: space-between;

}
.header_container {
    display: flex;
}
.header_item {
    margin: 30px 15px;
    line-height: 30px;
}

.active, .header_item:hover {
    color: #FF5733;
    /* border-bottom: 1px solid #FF5733; */
}

.logo:hover {
    color: white;
}

.logo {
    font-size: 1.8em;
}
.logo span {
    color: #FF5733;
}
.buy_button {
    margin: 20px 5px !important;
    padding: 10px 30px;
    border: 1px solid #3F4046;
    color: #FF5733;
}
/* HEADER */


